/* General Styles for the Cart */
.container-fluid {
    margin-top: 50px;
}

.table {
    width: 100%;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table .bg-secondary {
    background-color: #6c757d;
    color: white;
}

/* Image styling */
.product-image {
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
}

/* Button Styling */
.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

/* Card Styles */
.card {
    border-radius: 8px;
}

.card-header {
    background-color: #6c757d;
    color: white;
    font-size: 18px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    text-align: center;
}

/* Input Styles */
.input-group {
    margin-bottom: 20px;
}

.font-weight-bold {
    font-weight: 700; /* Đảm bảo chữ được in đậm */
}


.input-group-append button:hover {
    background-color: #0056b3;
}
