

.container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh; /* Đảm bảo toàn bộ chiều cao màn hình */
    text-align: center;
}

.left-column, .right-column {
background-color: #fff;
padding: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-column {
flex: 3;
margin-right: 20px;
}

.right-column {
flex: 1;
}

h2 {
margin-top: 0;
color: #333;
}

.post {
margin-bottom: 20px;
text-align: center;
}

.post img {
width: 100%;
border-radius: 5px;
}

.post-title {
font-size: 18px;
font-weight: bold;
margin: 10px 0;
color: #0056b3;
}

.post-title:hover {
text-decoration: underline;
}

.post-date {
font-size: 14px;
color: #888;
margin-bottom: 10px;
}

.right-column .post {
display: flex;
margin-bottom: 15px;
}

.right-column .post img {
width: 80px;
height: 80px;
object-fit: cover;
margin-right: 10px;
border-radius: 5px;
}

.right-column .post-title {
font-size: 16px;
}
.btn-primary {
    color: #ffffff;
    background-color: #D19C97;
    border-color: #D19C97;
  text-align: center;
  border-radius: 10px;
}


h2{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.post-date{
    color: #888;
    margin-top: 10px;
    font-size: 14px;
    text-align:right;
}

h5{
    color: #333;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/* Đảm bảo khung giữ nguyên kích thước, nội dung sẽ bị cắt hoặc xuống dòng */
.table td {
    white-space: nowrap; /* Không xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị "..." nếu nội dung bị cắt */
    max-width: 150px; /* Đặt chiều rộng tối đa phù hợp */
}

/* Áp dụng cho toàn bộ form */
.table-responsive {
    max-width: 100%; /* Giữ kích thước form không vượt quá bố cục */
    overflow-x: auto; /* Thêm cuộn ngang nếu cần */
}
